CuentaCorrienteExpoGranel/Connected Services/MAXA/movimientosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Security/" targetNamespace="http://Security/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movimientos" type="tns:movimientos" />
  <xs:element name="movimientosResponse" type="tns:movimientosResponse" />
  <xs:complexType name="movimientos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movimientosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>